# 로그 파일
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Yarn 관련
.yarn/*
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn/cache/
.yarn/install-state.gz

# node_modules, 빌드 산출물
node_modules/
dist/
dist-ssr/
*.local

# 환경 변수
.env
.env.*

# IDE 관련
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
